<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Sign in</h1>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">In order to chat, you must be signed in</h3>
                </div>

                <div class="panel-body">
                    <p>Please select the service you would like to sign in with:</p>

                    <ul>
                        <li><a href="/auth/login/facebook">Facebook</a></li>
                        <li><a href="/auth/login/github">Github</a></li>
                        <li><a href="/auth/login/google">Google</a></li>
                        <li><a href="/auth/login/reddit">Reddit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
